# <font color='blue'>Data Science Academy</font>
# <font color='blue'>Análise de Dados com Linguagem Python</font>

## <font color='blue'>Projeto 5</font>
## <font color='blue'>Análise de Dados Para Traçar Estratégias de Crescimento e Retenção da Base de Clientes</font>

In [1]:
# Imports
import pandas as pd
import numpy as np
from sklearn import linear_model
import warnings
import plotly.graph_objects as go
warnings.filterwarnings("ignore")

/opt/homebrew/Caskroom/miniconda/base/envs/dsa/lib/python3.8/site-packages/scipy/__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.4)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

In [2]:
# Versões dos pacotes usados neste jupyter notebook
%reload_ext watermark
%watermark -a "Data Science Academy" --iversions

Author: Data Science Academy

plotly : 5.3.1
pandas : 1.3.3
numpy  : 1.24.4
sklearn: 1.3.0

## Carregando os Dados

In [3]:
# Carrega os dados
dados = pd.read_csv('/Users/izadoraramos/Desktop/DataScienceAcademy/projeto5/dataset.csv')

In [4]:
# Visualiza os dados
dados

                      Modelo  Kilometragem  Preco_Venda  Idade_Veiculo
0            Jaguar F-Type R         69000        18000              6
1            Jaguar F-Type R         35000        34000              3
2            Jaguar F-Type R         57000        26100              5
3            Jaguar F-Type R         22500        40000              2
4            Jaguar F-Type R         46000        31500              4
5             Mustang Mach 1         59000        29400              5
6             Mustang Mach 1         52000        32000              5
7             Mustang Mach 1         72000        19300              6
8             Mustang Mach 1         91000        12000              8
9   Mercedez Benz AMG GLE 53         67000        22000              6
10  Mercedez Benz AMG GLE 53         83000        20000              7
11  Mercedez Benz AMG GLE 53         79000        21000              7
12  Mercedez Benz AMG GLE 53         59000        33000              5

In [5]:
# Tipos de dados
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Modelo         13 non-null     object
 1   Kilometragem   13 non-null     int64
 2   Preco_Venda    13 non-null     int64
 3   Idade_Veiculo  13 non-null     int64
dtypes: int64(3), object(1)
memory usage: 544.0+ bytes

> Pergunta: Para a variável categórica (object) no dataset, qual técnica de encoding devemos aplicar? Justifique sua resposta.

## Aplicando One-Hot-Encoding

https://pandas.pydata.org/docs/reference/api/pandas.get_dummies.html

# Dataset original
dados

In [6]:
# Obtém as variáveis dummy
df_dummies = pd.get_dummies(dados['Modelo'])

In [7]:
# Variáveis dummy
df_dummies

    Jaguar F-Type R  Mercedez Benz AMG GLE 53  Mustang Mach 1
0                 1                         0               0
1                 1                         0               0
2                 1                         0               0
3                 1                         0               0
4                 1                         0               0
5                 0                         0               1
6                 0                         0               1
7                 0                         0               1
8                 0                         0               1
9                 0                         1               0
10                0                         1               0
11                0                         1               0
12                0                         1               0

In [8]:
# Concatenamos os dataframes
df = pd.concat([dados, df_dummies], axis=1) # ou df = pd.concat([dados, df_dummies], axis='columns)

In [9]:
df

,Modelo,Kilometragem,Preco_Venda,Idade_Veiculo,Jaguar F-Type R,Mercedez Benz AMG GLE 53,Mustang Mach 1
0,Jaguar F-Type R,69000,18000,6,1,0,0
1,Jaguar F-Type R,35000,34000,3,1,0,0
2,Jaguar F-Type R,57000,26100,5,1,0,0
3,Jaguar F-Type R,22500,40000,2,1,0,0
4,Jaguar F-Type R,46000,31500,4,1,0,0
5,Mustang Mach 1,59000,29400,5,0,0,1
6,Mustang Mach 1,52000,32000,5,0,0,1
7,Mustang Mach 1,72000,19300,6,0,0,1
8,Mustang Mach 1,91000,12000,8,0,0,1
9,Mercedez Benz AMG GLE 53,67000,22000,6,0,1,0
10,Mercedez Benz AMG GLE 53,83000,20000,7,0,1,0
11,Mercedez Benz AMG GLE 53,79000,21000,7,0,1,0
12,Mercedez Benz AMG GLE 53,59000,33000,5,0,1,0

In [10]:
# Drop da coluna categórica
new_df = df.drop(['Modelo'], axis='columns') #ou new_df = df.drop(['Modelo'], axis=1)

In [11]:
new_df

,Kilometragem,Preco_Venda,Idade_Veiculo,Jaguar F-Type R,Mercedez Benz AMG GLE 53,Mustang Mach 1
0,69000,18000,6,1,0,0
1,35000,34000,3,1,0,0
2,57000,26100,5,1,0,0
3,22500,40000,2,1,0,0
4,46000,31500,4,1,0,0
5,59000,29400,5,0,0,1
6,52000,32000,5,0,0,1
7,72000,19300,6,0,0,1
8,91000,12000,8,0,0,1
9,67000,22000,6,0,1,0
10,83000,20000,7,0,1,0
11,79000,21000,7,0,1,0
12,59000,33000,5,0,1,0

In [12]:
# Define os valores de X
x = new_df.drop(['Preco_Venda'], axis=1)
x

,Kilometragem,Idade_Veiculo,Jaguar F-Type R,Mercedez Benz AMG GLE 53,Mustang Mach 1
0,69000,6,1,0,0
1,35000,3,1,0,0
2,57000,5,1,0,0
3,22500,2,1,0,0
4,46000,4,1,0,0
5,59000,5,0,0,1
6,52000,5,0,0,1
7,72000,6,0,0,1
8,91000,8,0,0,1
9,67000,6,0,1,0
10,83000,7,0,1,0
11,79000,7,0,1,0
12,59000,5,0,1,0

In [13]:
# Define os valores de Y
y = new_df['Preco_Venda']
y

0     18000
1     34000
2     26100
3     40000
4     31500
5     29400
6     32000
7     19300
8     12000
9     22000
10    20000
11    21000
12    33000
Name: Preco_Venda, dtype: int64

In [14]:
# Cria o modelo
modelo_v1 = linear_model.LinearRegression()

In [15]:
# Treina o modelo
modelo_v1.fit(x, y)

LinearRegression()

In [17]:
# Previsões do modelo
modelo_v1.predict(x)

array([18705.2723644 , 35286.78445645, 24479.19112468, 41245.76426391,
       29882.98779056, 28023.6135243 , 30614.46818502, 21879.57266964,
       12182.34562104, 26183.72387884, 18929.31674102, 20409.80511857,
       30477.15426156])

In [23]:
# Uma previsão
modelo_v1.predict([[7000,4,0,0,1]])

array([48602.41606011])

In [24]:
# Uma previsão
modelo_v1.predict([[45000,4,0,1,0]])

array([36991.31721061])

In [27]:
# Uma previsão
modelo_v1.predict([[86000,7,1,0,0]])

array([11080.74313219])

In [28]:
# Acurácia do modelo
modelo_v1.score(x,y)

0.9417050937281082

## Aplicando Label Encoding

https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html

In [29]:
from sklearn.preprocessing import LabelEncoder

In [30]:
# Cópia do dataframe original
df_car = dados

In [31]:
df_car

                      Modelo  Kilometragem  Preco_Venda  Idade_Veiculo
0            Jaguar F-Type R         69000        18000              6
1            Jaguar F-Type R         35000        34000              3
2            Jaguar F-Type R         57000        26100              5
3            Jaguar F-Type R         22500        40000              2
4            Jaguar F-Type R         46000        31500              4
5             Mustang Mach 1         59000        29400              5
6             Mustang Mach 1         52000        32000              5
7             Mustang Mach 1         72000        19300              6
8             Mustang Mach 1         91000        12000              8
9   Mercedez Benz AMG GLE 53         67000        22000              6
10  Mercedez Benz AMG GLE 53         83000        20000              7
11  Mercedez Benz AMG GLE 53         79000        21000              7
12  Mercedez Benz AMG GLE 53         59000        33000              5

In [32]:
# Cria o objeto encoder
le = LabelEncoder()

In [34]:
# Aplica o encoder
df['Modelo'] = le.fit_transform(df_car['Modelo'])

In [35]:
df_car

                      Modelo  Kilometragem  Preco_Venda  Idade_Veiculo
0            Jaguar F-Type R         69000        18000              6
1            Jaguar F-Type R         35000        34000              3
2            Jaguar F-Type R         57000        26100              5
3            Jaguar F-Type R         22500        40000              2
4            Jaguar F-Type R         46000        31500              4
5             Mustang Mach 1         59000        29400              5
6             Mustang Mach 1         52000        32000              5
7             Mustang Mach 1         72000        19300              6
8             Mustang Mach 1         91000        12000              8
9   Mercedez Benz AMG GLE 53         67000        22000              6
10  Mercedez Benz AMG GLE 53         83000        20000              7
11  Mercedez Benz AMG GLE 53         79000        21000              7
12  Mercedez Benz AMG GLE 53         59000        33000              5

In [37]:
# Define os valores de X
x = df[['Modelo', 'Kilometragem', 'Idade_Veiculo']].values
x

array([[    0, 69000,     6],
       [    0, 35000,     3],
       [    0, 57000,     5],
       [    0, 22500,     2],
       [    0, 46000,     4],
       [    2, 59000,     5],
       [    2, 52000,     5],
       [    2, 72000,     6],
       [    2, 91000,     8],
       [    1, 67000,     6],
       [    1, 83000,     7],
       [    1, 79000,     7],
       [    1, 59000,     5]])

In [40]:
# Define os valores de y
y = df['Preco_Venda']
y

0     18000
1     34000
2     26100
3     40000
4     31500
5     29400
6     32000
7     19300
8     12000
9     22000
10    20000
11    21000
12    33000
Name: Preco_Venda, dtype: int64

In [41]:
# Cria a versão 2 do modelo
modelo_v2 = linear_model.LinearRegression()

In [42]:
# Treina o modelo
modelo_v2.fit(x, y)

LinearRegression()

In [43]:
# Faz previsões
modelo_v2.predict(x)

array([21097.26799326, 35669.46519981, 26161.25131906, 40888.38671831,
       30915.35825943, 28747.22473471, 30916.35943266, 23373.3650235 ,
       14794.78029901, 23319.88385735, 17016.39498987, 18255.90053156,
       27144.36164147])

In [44]:
# Calcula a acurácia
modelo_v2.score(x,y)

0.8803425650559956

## Aplicando One-Hot-Encoding com Transformer

https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html

https://scikit-learn.org/stable/modules/generated/sklearn.compose.ColumnTransformer.html

In [50]:
# Carrega os dados
dados = pd.read_csv('/Users/izadoraramos/Desktop/DataScienceAcademy/projeto5/dataset.csv')
dados

                      Modelo  Kilometragem  Preco_Venda  Idade_Veiculo
0            Jaguar F-Type R         69000        18000              6
1            Jaguar F-Type R         35000        34000              3
2            Jaguar F-Type R         57000        26100              5
3            Jaguar F-Type R         22500        40000              2
4            Jaguar F-Type R         46000        31500              4
5             Mustang Mach 1         59000        29400              5
6             Mustang Mach 1         52000        32000              5
7             Mustang Mach 1         72000        19300              6
8             Mustang Mach 1         91000        12000              8
9   Mercedez Benz AMG GLE 53         67000        22000              6
10  Mercedez Benz AMG GLE 53         83000        20000              7
11  Mercedez Benz AMG GLE 53         79000        21000              7
12  Mercedez Benz AMG GLE 53         59000        33000              5

In [51]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [53]:
# Cria o encoder com transformação
OHEncoder = ColumnTransformer([('Modelo', OneHotEncoder(), [0])], remainder='passthrough') #remainder='passthrough' porque quero manter as outras colunas

In [54]:
# Cópia do dataframe original
df_car = dados

In [55]:
df_car

                      Modelo  Kilometragem  Preco_Venda  Idade_Veiculo
0            Jaguar F-Type R         69000        18000              6
1            Jaguar F-Type R         35000        34000              3
2            Jaguar F-Type R         57000        26100              5
3            Jaguar F-Type R         22500        40000              2
4            Jaguar F-Type R         46000        31500              4
5             Mustang Mach 1         59000        29400              5
6             Mustang Mach 1         52000        32000              5
7             Mustang Mach 1         72000        19300              6
8             Mustang Mach 1         91000        12000              8
9   Mercedez Benz AMG GLE 53         67000        22000              6
10  Mercedez Benz AMG GLE 53         83000        20000              7
11  Mercedez Benz AMG GLE 53         79000        21000              7
12  Mercedez Benz AMG GLE 53         59000        33000              5

In [56]:
# Define os valores de X
x = df_car.drop('Preco_Venda', axis = 1)
x

                      Modelo  Kilometragem  Idade_Veiculo
0            Jaguar F-Type R         69000              6
1            Jaguar F-Type R         35000              3
2            Jaguar F-Type R         57000              5
3            Jaguar F-Type R         22500              2
4            Jaguar F-Type R         46000              4
5             Mustang Mach 1         59000              5
6             Mustang Mach 1         52000              5
7             Mustang Mach 1         72000              6
8             Mustang Mach 1         91000              8
9   Mercedez Benz AMG GLE 53         67000              6
10  Mercedez Benz AMG GLE 53         83000              7
11  Mercedez Benz AMG GLE 53         79000              7
12  Mercedez Benz AMG GLE 53         59000              5

In [57]:
# Define os valores de y
y = df_car['Preco_Venda']
y

0     18000
1     34000
2     26100
3     40000
4     31500
5     29400
6     32000
7     19300
8     12000
9     22000
10    20000
11    21000
12    33000
Name: Preco_Venda, dtype: int64

In [58]:
# Aplica o encoder ao dataset x
X = OHEncoder.fit_transform(x)
X

array([[1.00e+00, 0.00e+00, 0.00e+00, 6.90e+04, 6.00e+00],
       [1.00e+00, 0.00e+00, 0.00e+00, 3.50e+04, 3.00e+00],
       [1.00e+00, 0.00e+00, 0.00e+00, 5.70e+04, 5.00e+00],
       [1.00e+00, 0.00e+00, 0.00e+00, 2.25e+04, 2.00e+00],
       [1.00e+00, 0.00e+00, 0.00e+00, 4.60e+04, 4.00e+00],
       [0.00e+00, 0.00e+00, 1.00e+00, 5.90e+04, 5.00e+00],
       [0.00e+00, 0.00e+00, 1.00e+00, 5.20e+04, 5.00e+00],
       [0.00e+00, 0.00e+00, 1.00e+00, 7.20e+04, 6.00e+00],
       [0.00e+00, 0.00e+00, 1.00e+00, 9.10e+04, 8.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, 6.70e+04, 6.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, 8.30e+04, 7.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, 7.90e+04, 7.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, 5.90e+04, 5.00e+00]])

In [59]:
# Cria a versão 3 do modelo
modelo_v3 = linear_model.LinearRegression()

In [60]:
# Treina o modelo
modelo_v3.fit(X,y)

LinearRegression()

In [61]:
# Uma previsão do modelo
modelo_v3.predict([[0,0,1,45000,4]])

array([34537.77647336])

In [62]:
# Uma previsão do modelo
modelo_v3.predict([[0,1,0,86000,7]])

array([17818.95045786])

In [63]:
# Uma previsão do modelo
modelo_v3.score(X,y)

0.9417050937281083

Com o modelo v3 temos one hot encoding normalizado, o que garante as variáveis na mesma escala, tornando assim o modelo mais confiável. 
Lembrar de normalizar os dados!

## Salva o Modelo Treinado

In [64]:
import joblib

In [65]:
# Dump do modelo
joblib.dump(modelo_v3,'/Users/izadoraramos/Desktop/DataScienceAcademy/projeto5/modelo/modelo_treinado.pkl')

['/Users/izadoraramos/Desktop/DataScienceAcademy/projeto5/modelo/modelo_treinado.pkl']

## Conclusão

Para este conjunto de dados a técnica de One-Hot-Encoding mostrou ser a mais efetiva e deveria ser usada no processamento dos dados para modelagem preditiva.